<div class="nav-container">
  <ul class="nav-links">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/pages/shop.html?collection=Price%20Drop">Price Drop</a></li>
    <li>
      <a href="/pages/shop.html?category=Food%20%26%20Treats"
        >Food &amp; Treats</a
      >
    </li>
    <li><a href="/pages/shop.html?category=Accessories">Accessories</a></li>
    <li>
      <a href="/pages/shop.html?category=Health%20%26%20Hygiene"
        >Health &amp; Hygiene</a
      >
    </li>
    <li>
      <a href="/pages/shop.html?category=Litter%20%26%20Bedding"
        >Litter &amp; Bedding</a
      >
    </li>
    <li><a href="/pages/shop.html?collection=Seasonal">Seasonal</a></li>
    <li><a href="/pages/shop.html?collection=Offers">Offers</a></li>
    <li><a href="/pages/shop.html?collection=New%20Lines">New Lines</a></li>
    <li><a href="/pages/shop.html?collection=Clearance">Clearance</a></li>
    <li><a href="/pages/categories.html">Brands</a></li>
    <li>
      <a href="/pages/cart.html">Cart (<span id="cart-count">0</span>)</a>
    </li>
  </ul>
</div>
