<div class="nav-container">
  <ul class="nav-links">
    <li><a href="/index.html">Home</a></li>
    <li class="nav-item-has-menu">
      <a href="/pages/shop.html?pet=Dog" class="nav-parent-link">Dog</a>
      <div class="nav-dropdown" role="menu">
        <a href="/pages/shop.html?pet=Dog&collection=Price%20Drop"
          >Price Drop</a
        >
        <a href="/pages/shop.html?pet=Dog&category=Food%20%26%20Treats"
          >Food &amp; Treats</a
        >
        <a href="/pages/shop.html?pet=Dog&category=Accessories">Accessories</a>
        <a href="/pages/shop.html?pet=Dog&category=Health%20%26%20Hygiene"
          >Health &amp; Hygiene</a
        >
        <a href="/pages/shop.html?pet=Dog&collection=Seasonal">Seasonal</a>
        <a href="/pages/shop.html?pet=Dog&collection=Offers">Offers</a>
        <a href="/pages/shop.html?pet=Dog&collection=New%20Lines">New Lines</a>
        <a href="/pages/shop.html?pet=Dog&collection=Clearance">Clearance</a>
      </div>
    </li>
    <li class="nav-item-has-menu">
      <a href="/pages/shop.html?pet=Cat" class="nav-parent-link">Cat</a>
      <div class="nav-dropdown" role="menu">
        <a href="/pages/shop.html?pet=Cat&collection=Price%20Drop"
          >Price Drop</a
        >
        <a href="/pages/shop.html?pet=Cat&category=Food%20%26%20Treats"
          >Food &amp; Treats</a
        >
        <a href="/pages/shop.html?pet=Cat&category=Accessories">Accessories</a>
        <a href="/pages/shop.html?pet=Cat&category=Health%20%26%20Hygiene"
          >Health &amp; Hygiene</a
        >
        <a href="/pages/shop.html?pet=Cat&category=Litter%20%26%20Bedding"
          >Litter &amp; Bedding</a
        >
        <a href="/pages/shop.html?pet=Cat&collection=Offers">Offers</a>
        <a href="/pages/shop.html?pet=Cat&collection=New%20Lines">New Lines</a>
        <a href="/pages/shop.html?pet=Cat&collection=Clearance">Clearance</a>
      </div>
    </li>
    <li class="nav-item-has-menu">
      <a href="/pages/shop.html?pet=Small%20Pet" class="nav-parent-link"
        >Small Pet</a
      >
      <div class="nav-dropdown" role="menu">
        <a href="/pages/shop.html?pet=Small%20Pet&category=Food%20%26%20Treats"
          >Food &amp; Treats</a
        >
        <a href="/pages/shop.html?pet=Small%20Pet&category=Accessories"
          >Accessories</a
        >
        <a
          href="/pages/shop.html?pet=Small%20Pet&category=Health%20%26%20Hygiene"
          >Health &amp; Hygiene</a
        >
        <a href="/pages/shop.html?pet=Small%20Pet&collection=Seasonal"
          >Seasonal</a
        >
        <a href="/pages/shop.html?pet=Small%20Pet&collection=Offers">Offers</a>
        <a href="/pages/shop.html?pet=Small%20Pet&collection=Clearance"
          >Clearance</a
        >
      </div>
    </li>
    <li><a href="/pages/categories.html">Brands</a></li>
    <li>
      <a href="/pages/cart.html">Cart (<span id="cart-count">0</span>)</a>
    </li>
  </ul>
</div>
